.inputFichas {
  width: 50%;
}

.selectorFichas {
  width: 50%;
}

.barradecarga {
  width: 90%;
}

.contenedorFichasHechas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedorFichasHechas img {
  width: 600px;
  height: 600px;
}

.sinImagen {
  width: 600px;
  height: 600px;
  border: solid 1px black;
}

.ficha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 2rem;
}

.ficha img {
  width: 600px;
  height: 600px;
}

.ficha button {
  margin-top: 10px;
}

@media (max-width: 475px) {
  .botonSubir {
    width: 80%;
    font-size: 15px;
  }

  .ficha img {
    width: 90%;
    height: 90%;
  }

}