.contenedorGeneral .seccionAdmin img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(165, 165, 165);
}

.contenedorGeneral .accionesAdmin {
  display: flex;
  margin: auto;
  width: 90%;
  height: 100%;
  border: solid 2px rgb(0, 0, 0);
  background-color: #e5e5e5;
}

.ayuda {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ayuda h2 {
  padding-top: 50px;
  color: black;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 8px;
}

.ayuda h3 {
  padding-top: 50px;
  color: black;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 8px;
}

.ayuda ol {
  width: 50%;
  color: black;
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
}

.ayuda p {
  width: 50%;
  font-size: 16px;
  color: black;
  padding-top: 10px;
  text-align: justify;

}

.ayuda h5 {
  margin-top: 20px;
  color: red;
  font-size: 18px;
}

.ayuda h6 {
  margin-top: 20px;
  color: green;
  font-size: 18px;
}

@media (max-width: 1080px) {
  .contenedorGeneral .seccionAdmin img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(165, 165, 165);
    width: 600px;
  }
}

@media (max-width: 805px) {
  .contenedorGeneral .seccionAdmin img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(165, 165, 165);
    width: 500px;
  }
}

@media (max-width: 475px) {
  .contenedorGeneral .seccionAdmin img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(165, 165, 165);
    width: 300px;
  }
}