.textoArriba {
  color: white;
  background-color: #09010B;
  width: 100%;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.textoArriba p {
  padding: 10px;
}

.contenedorLogo {
  width: 100%;
  border-bottom: 1px #979797 solid;
}

.contenedorLogo img {
  width: 30%;
  height: 20%;
}

.layout {
  width: 100%;
  background-color: #e5e5e5;
}

.mainTitle {
  font-size: 50px;
}

.containerDatos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.datos {
  padding: 0.5rem;
}

.datos p {
  font-weight: 700;
}

.datos ul {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;

}

.datos li {
  margin-top: 8%;
}

.datos a {
  color: #fff;
  font-size: 20px;
}

.datos h3 {
  text-transform: uppercase;
}

.info {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  color: var(--colorNegro);
  font-size: 18px;
  width: 100%;
  padding: 1.5rem;
}

.form {
  padding: 3.5em 1em;
  background-color: #fff;
}

.formTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  font-family: var(--fuenteLetras);
  margin-bottom: 0.4em;
}

.textRequired {
  text-align: center;
  font-family: var(--fuenteLetras);
  font-weight: 900;
  color: var(--colorRojo);
  font-size: 18px;
  width: 100%;
}

.fb {
  width: 50px;
  height: 40px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: #4267B2;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.fb:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
  background-color: #4267b2b5;
}

.ig {
  width: 50px;
  height: 40px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: #997db9;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.ig:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
  background-color: #997db9b8;
}

.wsp {
  width: 50px;
  height: 40px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: #25d366;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.wsp:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
  background-color: #25d365b4;
}