.bodyEditar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(#9810B3, #ffff);
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-top: 10%;
}

.inputEdit {
  width: 90%;
  margin-top: 20px;
}

.botonesEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  padding: 8px;
}

.botonEdit {
  font-weight: 700;
  padding: 8px;
  margin-right: 20%;
}

.botonEditCancel {
  font-weight: 700;
  padding: 8px;
}

.form {
  border: none;
}

.contenedorBuscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  flex-direction: column;

}

.inputS {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.contenedorBotones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 20px;
}

.productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.btnModificar {
  font-size: 20px;
  margin-top: -25px;
}