* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --colorVioleta: #9810B3;
  --colorNegro: #09010B;
  --colorBlanco: #F9F9F9;
  --colorRojo: #BB1818;

  --fuenteMenu: 'Montserrat', sans-serif;
  --fuenteBotones: 'Staatliches', cursive;
  --fuenteLetras: 'Roboto', sans-serif;
  --fuenteTitPrincipal: 'Saira', sans-serif;
}


.textoArriba {
  color: white;
  background-color: #09010B;
  width: 100%;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}



.contenedorLogo {
  width: 100%;
  border-bottom: 1px #979797 solid;
}

.titulo {
  /* background-image: linear-gradient(#9810B3, #09010B);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.carouselImg {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-top: 10px;
  overflow: hidden; */
  margin: auto;
  /* min-width: 100%; */
  width: 100%;
  height: 50%;
  /* border: solid 2px rgba(0, 0, 0, 0); */
  overflow: hidden;
  margin-top: 0px;
  z-index: -1;
}

.carouselImg ul {

  display: flex;

  position: relative;
  overflow: hidden;

  width: 300%;
  height: 50%;
  padding: 0;
  /* border-radius: 10px; */
  animation: cambio 10s infinite alternate;

}

.carouselImg li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.carouselImg img {
  width: 100%;
  height: 50%;
  border-right: 2px solid black;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  24% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  51% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}


.textocambiante {
  display: flex;
  margin-top: 0px;
  width: 300px;
  height: 40px;
  color: var(--colorNegro);
  font-family: var(--fuenteMenu);
  font-size: 20px;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  position: relative;
  top: 25%;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  margin: auto;
  overflow: hidden;

}

.renova {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  font-weight: 800;

}

.textocambiante ul {
  list-style: none;
  padding-left: 10px;
  color: var(--colorVioleta);

  font-family: var(--fuenteBotones);
  font-size: 30px;
  font-weight: 900;

  animation: cambiarpalabra 10s infinite;
}

.textocambiante ul,
h3 {
  margin: 0;

}

@keyframes cambiarpalabra {
  0% {
    margin-top: 0;
  }

  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }

  50% {
    margin-top: -40px;
  }

  55% {
    margin-top: -80px;
  }

  70% {
    margin-top: -80px;
  }

  85% {
    margin-top: -40px;
  }

  95% {
    margin-top: -40px;
  }

  100% {
    margin-top: 0;
  }
}


.title_destacados {
  font-size: 50px;
  font-weight: 700;
  /* margin-top: -20%; */
  font-family: var(--fuenteMenu);
}

.aclaracion {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--fuenteMenu);
}

.contenedorProductos {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 98%;
  /* gap: 0px; */
  padding: 10px;
  margin-top: 30px;
  background-color: #edebe5;
}


/* LOADER */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #09010B;
  position: relative;
  margin-top: 20%;
  width: 2.5em;
  height: 2.5em;
  transform-origin: center;
  transition: 1s;
  border-radius: 50px;
  box-shadow: inset 0px 0px 10px purple,
    inset 5px 5px 12px rgba(44, 0, 114, 0.8),
    inset 8px 8px 1px rgba(160, 120, 255, 0.7),
    0px 0px 1px rgba(160, 120, 255, 0.6);
  animation: 1.2s linear infinite 0s running first682;

}

.loader div {
  width: inherit;
  height: inherit;
  position: absolute;

}

.first {
  transform: rotate(90deg)
}

.first::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
  border-radius: 50px;
  animation: 0.8s ease-in 0s infinite running jump2;
}

.second {
  transform: rotate(90deg);
}

.second::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
  border-radius: 50px;
  animation: 1.5s ease-in 0s infinite running jump2;
}

.third {
  transform: rotate(90deg)
}

.third::before {
  --width: 1em;
  --height: 1em;
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
  border-radius: 50px;
  animation: 1.6s ease-in 0s infinite running jump2;
}

.loader::after {
  --width: 1em;
  --height: 1em;
  content: "";
  margin-top: 20%;
  position: absolute;
  top: 100%;
  left: calc(50% - var(--width)/2);
  width: 1em;
  height: 1em;
  background-color: rgb(44, 0, 114);
  box-shadow: inset 5px 5px 10px rgb(160, 120, 255),
    0px 0px 2px white;
  border-radius: 50px;
  animation: 1.2s ease-in 1s alternate infinite running jump2;
}

@keyframes first682 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(90deg);
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(180deg);
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(270deg);
    transform: rotate(360deg);
  }
}

@keyframes jump2 {
  0% {
    top: 100%;
  }

  25% {
    top: 230%
  }

  50% {
    top: 100%;
  }

  75% {
    height: 0.6em
  }

  100% {
    height: 1em
  }
}