@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --colorVioleta: #9810B3;
  --colorNegro: #09010B;
  --colorBlanco: #F9F9F9;
  --colorRojo: #BB1818;

  --fuenteMenu: 'Montserrat', sans-serif;
  --fuenteBotones: 'Staatliches', cursive;
  --fuenteLetras: 'Roboto', sans-serif;
  --fuenteTitPrincipal: 'Saira', sans-serif;
}


.contenedorGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(#9810B3, #09010B);
}

.contenedorGeneral nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
}

.contenedorGeneral nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  list-style: none;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: var(--fuenteMenu);
  font-weight: 700;
  text-decoration: none;
}

.contenedorGeneral navlink {
  color: white;
}